<% provide :title, 'ユーザーリスト' %>

<div class="container">
  <div class="col-sm-4 m-3">
    <h1>全ユーザー</h1>
  </div>

  <div class="col-sm-4 mb-5">
    <%= paginate @users %>
    <%= search_form_for @q do |f| %>
    <%= f.search_field :name_cont, placeholder: "ユーザー名検索" %>
    <%= submit_tag "検索", class: "btn btn-outline-info btn-sm" %>
    <% end %>
  </div>

  <% @users.each do |user| %>
  <div class="col-sm-4 my-3">
    <%= avator_tag(user) %>
    <%= link_to user.name, user, class: 'h2' %>
    <% if current_user.admin %>
    <%= link_to "退会させる", user_user_delete_path(user.id),
          data: {confirm: "本当に？"},
          method: :delete,
          class: 'btn btn-danger btn-block my-2' %>
    <hr />
    <% end %>
  </div>
  <% end %>

  <div class="col-sm-4 mb-5">
    <%= paginate @users %>
  </div>
</div>
