<h2>
  <%= avator_tag(@user) %>
</h2>

<h5>
  <strong>Name</strong> : <%= @user.name %>
</h5>

<h5>
  <strong>Email</strong> : <%= @user.email %>
</h5>

<div class="my-2">
  <% if @user.id == current_user.id %>
    <%= link_to 'Edit', edit_user_registration_path(current_user), class: "btn btn-outline-success btn-sm" %>
  <% else %>
    <%= render partial: 'follow' %>
  <% end %>
</div>
