<% provide :title, 'ホーム' %>

<div class="py-4 bg-light">
  <section id="about">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-8 mb-3">
          <h3 class="mb-3">
            <font color="#E7A83E">Ehon-to　</font>について
          </h3>
          <h5>幼児向けの "読書管理アプリ" です。<br>
            読んだ本を忘れないように、子供がどんな感想をもったのか記録できます。<br>
            <br>
            <div id="topics">
              ①：読んだ本の管理
              <div class="topic1">
                <%= image_tag 'https://image.ehon-to.net/default/no_avatar.jpg' %>
              </div>
              ②：読みたい本を見つける
              <div class="topic2">
                <%= image_tag 'https://image.ehon-to.net/default/no_avatar.jpg' %>
              </div>
              ③：本の情報を互いに共有
              <div class="topic3">
                <%= image_tag 'https://image.ehon-to.net/default/no_avatar.jpg' %>
              </div>
            </div>
            <br>
            このアプリは幼児の本を通じた子供の成長を応援します。
          </h5>
          <% if user_signed_in? %>
          <%= link_to "本の一覧", books_path, class: "btn btn-primary" %></h3>
          <% else %>
          <%= link_to "未登録の方（新規登録）", new_user_registration_path, class: "btn btn-info mt-3" %></h4>
          <%= link_to "登録済みの方（ログイン）", new_user_session_path, class: "btn btn-primary mt-3" %></h4>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= image_tag "https://image.ehon-to.net/Home/top1.png", size: "300x300" %>
        </div>
      </div>
    </div>
  </section>
</div>
