<div class="container">
  <h1>本の詳細</h1>
  <div class="nav justify-content-end">
    <%= link_to '本の一覧に戻る', books_path, class: 'btn btn-outline-dark ml-auto' %>
  </div>

  <div class="col mb-3 mt-3">
    本のカテゴリー：
    <% @book.tag_list.each do |tag| %>
    <h3 class="badge badge-pill badge-info mr-1 p-2"><%= tag %></h3>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <table class="table table-hover">
        <tr>
          <th>本の名前</th>
          <td><%= @book.name %></td>
        </tr>
        <tr>
          <th>出版社</th>
          <td><%= @book.publisher %></td>
        </tr>
        <tr>
          <th>作者</th>
          <td><%= @book.author_name %></td>
        </tr>
        <tr>
          <th>価格</th>
          <td><%= @book.price %></td>
        </tr>
        <tr>
          <th>ISBN</th>
          <td><%= @book.isbn %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <% if user_signed_in? && current_user == @book.user %>
        <%= link_to '編集', edit_book_path(@book), class: 'btn btn-primary mr-3' %>
        <%= link_to '削除', @book, method: :delete, data: { confirm: "本「#{@book.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row justify-content-center">
      <h3><%= render partial: 'favorite' %></h3>
    </div>
  </div>
  <hr />

  <div class="container">
    <div claas="row">
      <%= render partial: 'comments/new' %>
    </div>
  </div>
</div>
