<% if notice %>
<div class="alert alert-info">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<% elsif alert %>
<div class="alert alert-danger">
  <%= alert %>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
    aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to image_tag("https://image.ehon-to.net/DB/fixutures/images/ehon-to_top.png"), root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to("マイページ", edit_user_registration_path(current_user), class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to("本の一覧", books_path, class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to("ユーザーリスト", users_path, class: "nav-link") %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to("新しく登録", new_user_registration_path, class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to("ログイン", new_user_session_path, class: "nav-link") %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
