<!DOCTYPE html>
<html>

<head>
  <%= favicon_link_tag("https://image.ehon-to.net/DB/fixutures/images/ehon-to_favicon.ico") %>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

  <meta charaset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content=" 『Ehon-to』は 幼少期向けの読書履歴・おすすめをユーザー間で行えるサイトです。">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="format-detection" content="telephone=no">
  <!--ogp -->
  <meta property="og:title" content="Ehon-to">
  <meta property="og:type" content="article">
  <meta property="og:description" content="幼児向け読書管理ツール『Ehon-to』の公式ホームサイトです。">
  <meta property="og:url" content="https://www.ehon-to.net">
  <meta property="og:image" content="https://image.ehon-to.net/default/og_ehon-to.png">
  <meta property="og:site_name" content="Ehon-to">
  <!-- // ogp-->
</head>

<body>
  <%= render 'header' %>
  <div class="main-contents">
    <%= yield %>
  </div>
  <%= render 'footer' %>
</body>

</html>
